{% extends "layout.html" %} {% load static %} {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
</head>
<body>
  <section class="bg-white dark:bg-gray-900 mt-16">
    <div
      class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12"
    >
      <div class="mr-auto place-self-center lg:col-span-7">
        <div class="flex items-center space-x-4 mb-6">
          <span class="text-sm font-semibold text-gray-700 dark:text-white">
            Site of the Day
          </span>
          <span
            class="px-2 py-1 text-sm font-medium text-gray-900 bg-gray-200 rounded dark:bg-gray-700 dark:text-white"
          >
          {{ formatted_date }}
          </span>
          <span class="text-sm font-semibold text-gray-700 dark:text-white">
            Score {{ review_score }} of 10
          </span>
        </div>
        <h1
          class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white"
        >
          {{ website_title }}
        </h1>
        <div class="flex items-center space-x-3 mb-4 group">
          <img
            src="{{ user_avatar_url }}"
            alt="{{ user_username }}'s avatar"
            class="w-8 h-8 rounded-full border border-gray-300 dark:border-gray-600 group-hover:underline"
          />
          <a
            href="{{ user_profile_url }}"
            class="text-lg font-semibold text-gray-700 dark:text-white group-hover:underline"
          >
            {{ user_username }}
          </a>
        </div>
        <p
          class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400"
        >
          {{ website_description }}
        </p>
      </div>
      <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
        <img
          src="{{ website_image }}"
          alt="{{ alt_name }}"
        />
      </div>
    </div>
  </section>
</body>
</html>
{% endblock content %}
