{% extends 'user/base.html' %} {% load humanize %} {% load static %} {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Finest - Explore</title>
</head>
<body class="bg-gray-50 dark:bg-gray-900">
  <div class="container mx-auto px-4 py-8 mt-14">
    <h1 class="text-3xl font-bold text-center text-gray-800 dark:text-white mb-6">{{title}}</h1>
    <hr class="border-t-2 border-gray-300 dark:border-gray-600 w-full mx-auto">

    
    <!-- All Projects Section -->
    <section class="mb-10">
      <h2 class="text-2xl font-semibold text-gray-700 dark:text-gray-100 mt-6 mb-4 text-center">DISCOVER</h2>
      {% if all_projects %}
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for project in all_projects %}
          <div class="relative p-4 bg-white rounded-lg shadow-md dark:bg-gray-800">
            <div class="absolute top-6 right-2 flex space-x-2">
              <a href="{{ project.url }}" target="_blank" class="group">
                <svg class="w-5 h-5 text-gray-500 hover:text-gray-900 dark:hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 14v4.833A1.166 1.166 0 0 1 16.833 20H5.167A1.167 1.167 0 0 1 4 18.833V7.167A1.166 1.166 0 0 1 5.167 6h4.618m4.447-2H20v5.768m-7.889 2.121 7.778-7.778"/>
                </svg>                           
              </a>
        
              <a href="{% url 'all_post_details' project.id %}" class="group">  
                <svg class="w-5 h-5 text-gray-500 hover:text-gray-900 dark:hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
                </svg>                                     
              </a>
            </div>
        
            <div class="flex items-center space-x-2 mb-4">
              <img src="{{ project.file.url }}" alt="{{ project.title }}"
                class="w-16 h-16 rounded-full object-cover">
              <div>
                <h3 class="text-lg font-bold text-gray-800 dark:text-white">{{ project.title }}</h3>
                <p class="mt-2 text-sm space-x-1 font-medium text-green-600 dark:text-green-400">
                  <svg
                    aria-hidden="true"
                    class="inline-flex  w-5 h-5 text-yellow-400"
                    fill="currentColor"
                    viewbox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                    />
                  </svg>{{ project.avg_user_score|floatformat:1 }}
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      {% else %}
        <div class="border rounded-xl py-12 dark:border-gray-500 border-gray-800">
          <div class="flex items-center justify-center text-gray-800 dark:text-gray-500">
            <svg class="w-8 h-8 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m10.051 8.102-3.778.322-1.994 1.994a.94.94 0 0 0 .533 1.6l2.698.316m8.39 1.617-.322 3.78-1.994 1.994a.94.94 0 0 1-1.595-.533l-.4-2.652m8.166-11.174a1.366 1.366 0 0 0-1.12-1.12c-1.616-.279-4.906-.623-6.38.853-1.671 1.672-5.211 8.015-6.31 10.023a.932.932 0 0 0 .162 1.111l.828.835.833.832a.932.932 0 0 0 1.111.163c2.008-1.102 8.35-4.642 10.021-6.312 1.475-1.478 1.133-4.77.855-6.385Zm-2.961 3.722a1.88 1.88 0 1 1-3.76 0 1.88 1.88 0 0 1 3.76 0Z"/>
            </svg>
            No Records Found
          </div>
        </div>
      {% endif %}
      
    </section>
    
    <!-- Top Rated Projects Section -->
    <section class="mb-10">
      <h2 class="text-2xl font-semibold text-gray-700 dark:text-gray-100 mt-6 mb-4 text-center">TOP RATED</h2>
      {% if top_rated_projects %}
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for project in top_rated_projects %}
          <div class="relative p-4 bg-white rounded-lg shadow-md dark:bg-gray-800">
            <div class="absolute top-6 right-2 flex space-x-2">
              <a href="{{ project.url }}" target="_blank" class="group">
                <svg class="w-5 h-5 text-gray-500 hover:text-gray-900 dark:hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 14v4.833A1.166 1.166 0 0 1 16.833 20H5.167A1.167 1.167 0 0 1 4 18.833V7.167A1.166 1.166 0 0 1 5.167 6h4.618m4.447-2H20v5.768m-7.889 2.121 7.778-7.778"/>
                </svg>                           
              </a>
        
              <a href="{% url 'all_post_details' project.id %}" class="group">  
                <svg class="w-5 h-5 text-gray-500 hover:text-gray-900 dark:hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
                </svg>                                     
              </a>
            </div>
        
            <div class="flex items-center space-x-2 mb-4">
              <img src="{{ project.file.url }}" alt="{{ project.title }}"
                class="w-16 h-16 rounded-full object-cover">
              <div>
                <h3 class="text-lg font-bold text-gray-800 dark:text-white">{{ project.title }}</h3>
                <p class="mt-2 text-sm space-x-1 font-medium text-green-600 dark:text-green-400">
                  <svg
                    aria-hidden="true"
                    class="inline-flex  w-5 h-5 text-yellow-400"
                    fill="currentColor"
                    viewbox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                    />
                  </svg>{{ project.avg_user_score|floatformat:1 }}
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      {% else %}
        <div class="border rounded-xl py-12 dark:border-gray-500 border-gray-800">
          <div class="flex items-center justify-center text-gray-800 dark:text-gray-500">
            <svg class="w-8 h-8 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m10.051 8.102-3.778.322-1.994 1.994a.94.94 0 0 0 .533 1.6l2.698.316m8.39 1.617-.322 3.78-1.994 1.994a.94.94 0 0 1-1.595-.533l-.4-2.652m8.166-11.174a1.366 1.366 0 0 0-1.12-1.12c-1.616-.279-4.906-.623-6.38.853-1.671 1.672-5.211 8.015-6.31 10.023a.932.932 0 0 0 .162 1.111l.828.835.833.832a.932.932 0 0 0 1.111.163c2.008-1.102 8.35-4.642 10.021-6.312 1.475-1.478 1.133-4.77.855-6.385Zm-2.961 3.722a1.88 1.88 0 1 1-3.76 0 1.88 1.88 0 0 1 3.76 0Z"/>
            </svg>
            No Records Found
          </div>
        </div>
      {% endif %}
      
    </section>
  
    <!-- Highest Design Ratings Section -->
    <section class="mb-8">
      <h2 class="text-2xl font-semibold text-gray-700 dark:text-gray-100 mb-4 text-center">TOP DESIGN</h2>
      {% if highest_design %}
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
          {% for project in highest_design %}
          <div class="relative p-4 bg-white rounded-lg shadow-md dark:bg-gray-800">
            <div class="absolute top-6 right-2 flex space-x-2">
              <a href="{{ project.url }}" target="_blank" class="group">
                <svg class="w-5 h-5 text-gray-500 hover:text-gray-900 dark:hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 14v4.833A1.166 1.166 0 0 1 16.833 20H5.167A1.167 1.167 0 0 1 4 18.833V7.167A1.166 1.166 0 0 1 5.167 6h4.618m4.447-2H20v5.768m-7.889 2.121 7.778-7.778"/>
                </svg>                           
              </a>
        
              <a href="{% url 'all_post_details' project.id %}" class="group">  
                <svg class="w-5 h-5 text-gray-500 hover:text-gray-900 dark:hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
                </svg>                                     
              </a>
            </div>
        
            <div class="flex items-center space-x-2 mb-4">
              <img src="{{ project.file.url }}" alt="{{ project.title }}"
                class="w-16 h-16 rounded-full object-cover">
              <div>
                <h3 class="text-lg font-bold text-gray-800 dark:text-white">{{ project.title }}</h3>
                <p class="mt-2 text-sm space-x-1 font-medium text-green-600 dark:text-green-400">
                  <svg
                    aria-hidden="true"
                    class="inline-flex  w-5 h-5 text-yellow-400"
                    fill="currentColor"
                    viewbox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                    />
                  </svg>{{ project.avg_design_score|floatformat:1 }}
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      {% else %}
        <div class="border rounded-xl py-12 dark:border-gray-500 border-gray-800">
          <div class="flex items-center justify-center text-gray-800 dark:text-gray-500">
            <svg class="w-8 h-8 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m10.051 8.102-3.778.322-1.994 1.994a.94.94 0 0 0 .533 1.6l2.698.316m8.39 1.617-.322 3.78-1.994 1.994a.94.94 0 0 1-1.595-.533l-.4-2.652m8.166-11.174a1.366 1.366 0 0 0-1.12-1.12c-1.616-.279-4.906-.623-6.38.853-1.671 1.672-5.211 8.015-6.31 10.023a.932.932 0 0 0 .162 1.111l.828.835.833.832a.932.932 0 0 0 1.111.163c2.008-1.102 8.35-4.642 10.021-6.312 1.475-1.478 1.133-4.77.855-6.385Zm-2.961 3.722a1.88 1.88 0 1 1-3.76 0 1.88 1.88 0 0 1 3.76 0Z"/>
            </svg>
            No Records Found
          </div>
        </div>
      {% endif %}
    </section>
  
    <!-- Highest Content Ratings Section -->
    <section class="mb-8">
      <h2 class="text-2xl font-semibold text-gray-700 dark:text-gray-100 mb-4 text-center">TOP CONTENT</h2>
      {% if highest_content %}
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
          {% for project in highest_content %}
          <div class="relative p-4 bg-white rounded-lg shadow-md dark:bg-gray-800">
            <div class="absolute top-6 right-2 flex space-x-2">
              <a href="{{ project.url }}" target="_blank" class="group">
                <svg class="w-5 h-5 text-gray-500 hover:text-gray-900 dark:hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 14v4.833A1.166 1.166 0 0 1 16.833 20H5.167A1.167 1.167 0 0 1 4 18.833V7.167A1.166 1.166 0 0 1 5.167 6h4.618m4.447-2H20v5.768m-7.889 2.121 7.778-7.778"/>
                </svg>                           
              </a>
        
              <a href="{% url 'all_post_details' project.id %}" class="group">  
                <svg class="w-5 h-5 text-gray-500 hover:text-gray-900 dark:hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
                </svg>                                     
              </a>
            </div>
        
            <div class="flex items-center space-x-2 mb-4">
              <img src="{{ project.file.url }}" alt="{{ project.title }}"
                class="w-16 h-16 rounded-full object-cover">
              <div>
                <h3 class="text-lg font-bold text-gray-800 dark:text-white">{{ project.title }}</h3>
                <p class="mt-2 text-sm space-x-1 font-medium text-green-600 dark:text-green-400">
                  <svg
                    aria-hidden="true"
                    class="inline-flex  w-5 h-5 text-yellow-400"
                    fill="currentColor"
                    viewbox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                    />
                  </svg>{{ project.avg_content_score|floatformat:1 }}
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      {% else %}
        <div class="border rounded-xl py-12 dark:border-gray-500 border-gray-800">
          <div class="flex items-center justify-center text-gray-800 dark:text-gray-500">
            <svg class="w-8 h-8 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m10.051 8.102-3.778.322-1.994 1.994a.94.94 0 0 0 .533 1.6l2.698.316m8.39 1.617-.322 3.78-1.994 1.994a.94.94 0 0 1-1.595-.533l-.4-2.652m8.166-11.174a1.366 1.366 0 0 0-1.12-1.12c-1.616-.279-4.906-.623-6.38.853-1.671 1.672-5.211 8.015-6.31 10.023a.932.932 0 0 0 .162 1.111l.828.835.833.832a.932.932 0 0 0 1.111.163c2.008-1.102 8.35-4.642 10.021-6.312 1.475-1.478 1.133-4.77.855-6.385Zm-2.961 3.722a1.88 1.88 0 1 1-3.76 0 1.88 1.88 0 0 1 3.76 0Z"/>
            </svg>
            No Records Found
          </div>
        </div>
      {% endif %}
    </section>
  
    <!-- Highest Usability Ratings Section -->
    <section>
      <h2 class="text-2xl font-semibold text-gray-700 dark:text-gray-100 mb-4 text-center">TOP USABILITY</h2>
      {% if highest_usability %}
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
          {% for project in highest_usability %}
          <div class="relative p-4 bg-white rounded-lg shadow-md dark:bg-gray-800">
            <div class="absolute top-6 right-2 flex space-x-2">
              <a href="{{ project.url }}" target="_blank" class="group">
                <svg class="w-5 h-5 text-gray-500 hover:text-gray-900 dark:hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 14v4.833A1.166 1.166 0 0 1 16.833 20H5.167A1.167 1.167 0 0 1 4 18.833V7.167A1.166 1.166 0 0 1 5.167 6h4.618m4.447-2H20v5.768m-7.889 2.121 7.778-7.778"/>
                </svg>                           
              </a>
        
              <a href="{% url 'all_post_details' project.id %}" class="group">  
                <svg class="w-5 h-5 text-gray-500 hover:text-gray-900 dark:hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
                </svg>                                     
              </a>
            </div>
        
            <div class="flex items-center space-x-2 mb-4">
              <img src="{{ project.file.url }}" alt="{{ project.title }}"
                class="w-16 h-16 rounded-full object-cover">
              <div>
                <h3 class="text-lg font-bold text-gray-800 dark:text-white">{{ project.title }}</h3>
                <p class="mt-2 text-sm space-x-1 font-medium text-green-600 dark:text-green-400">
                  <svg
                    aria-hidden="true"
                    class="inline-flex  w-5 h-5 text-yellow-400"
                    fill="currentColor"
                    viewbox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                    />
                  </svg>{{ project.avg_usability_score|floatformat:1 }}
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      {% else %}
        <div class="border rounded-xl py-12 dark:border-gray-500 border-gray-800">
          <div class="flex items-center justify-center text-gray-800 dark:text-gray-500">
            <svg class="w-8 h-8 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m10.051 8.102-3.778.322-1.994 1.994a.94.94 0 0 0 .533 1.6l2.698.316m8.39 1.617-.322 3.78-1.994 1.994a.94.94 0 0 1-1.595-.533l-.4-2.652m8.166-11.174a1.366 1.366 0 0 0-1.12-1.12c-1.616-.279-4.906-.623-6.38.853-1.671 1.672-5.211 8.015-6.31 10.023a.932.932 0 0 0 .162 1.111l.828.835.833.832a.932.932 0 0 0 1.111.163c2.008-1.102 8.35-4.642 10.021-6.312 1.475-1.478 1.133-4.77.855-6.385Zm-2.961 3.722a1.88 1.88 0 1 1-3.76 0 1.88 1.88 0 0 1 3.76 0Z"/>
            </svg>
            No Records Found
          </div>
        </div>
      {% endif %}
    </section>
  </div>
</body>
</html>
{% endblock content %}