{% extends 'user/base.html' %} {% load static %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>
  <body class="bg-gray-50 dark:bg-gray-900">
    <section class="py-8 bg-white md:py-16 dark:bg-gray-900 antialiased mt-16">
      {% if messages %}
        {% for message in messages %}
            <div id="alert-1" class="flex items-center p-4 mb-4 text-sm rounded-lg 
                {% if message.tags == 'success' %}
                    bg-green-200 text-green-800 dark:bg-green-800 dark:text-green-400
                {% elif message.tags == 'error' %}
                    bg-red-50 text-red-800 dark:bg-red-800 dark:text-red-400
                {% elif message.tags == 'warning' %}
                    bg-yellow-50 text-yellow-800 dark:bg-yellow-800 dark:text-yellow-400
                {% else %}
                    bg-blue-50 text-blue-800 dark:bg-gray-800 dark:text-blue-400
                {% endif %}
                " role="alert">
                <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <span class="sr-only">Info</span>
                <div class="ms-3 text-sm font-medium">
                    {{ message }}
                </div>
                <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-transparent text-current rounded-lg focus:ring-2 focus:ring-opacity-50 p-1.5 hover:bg-gray-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-current dark:hover:bg-gray-700" data-dismiss-target="#alert-1" aria-label="Close">
                    <span class="sr-only">Close</span>
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                </button>
            </div>
        {% endfor %}
      {% endif %}
      <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
        <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16">
          <div class="shrink-0 max-w-md lg:max-w-lg mx-auto">
            <img
              class="w-full dark:hidden"
              src="{{ website.file.url }}"
              alt="{{ website.title }} Image"
            />
            <img
              class="w-full hidden dark:block"
              src="{{ website.file.url }}"
              alt="{{ website.title }} Image"
            />
          </div>
          <div class="mt-6 sm:mt-8 lg:mt-0">
            <h1
              class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white"
            >
              {{ website.title }}
            </h1>
            <a
              href="{{ website.url }}"
              class="text-sm font-medium leading-none mt-4 sm:items-center sm:gap-4 sm:flex text-gray-500 dark:text-gray-400"
              target="_blank"
            >
              {{ website.url }}
            </a>
            <div class="mt-4 sm:items-center sm:gap-4 sm:flex">
              <div class="flex items-center gap-2 mt-2 sm:mt-0">
                <div class="flex items-center">
                  <svg
                    class="w-4 h-4 text-yellow-300"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
                    />
                  </svg>
                </div>
                <p
                  class="text-sm font-medium leading-none text-gray-500 dark:text-gray-400"
                >
                {{ overall_rating }}.0
                </p>

                <a
                  href="#"
                  class="text-sm font-medium leading-none text-gray-900 underline hover:no-underline dark:text-white"
                >
                {{ total_reviews }} Reviews
                </a>
              </div>
            </div>

            <div class="mt-6 sm:gap-6 sm:items-center sm:flex sm:mt-8">
              <a
                href=""
                data-id="{{ website.id }}"
                data-favorite="{{ website.is_favorite|yesno:'true,false' }}"
                class="favorite-btn flex items-center justify-center py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                role="button"
              >
                <svg
                  class="icon w-5 h-5 -ms-2 me-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                  />
                </svg>
                <span class="text">Like</span>
              </a>

              <a
                title=""
                class="text-white mt-4 sm:mt-0 bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800 flex items-center justify-center"
                role="button"
                id="reviewModalButton"
                data-modal-target="reviewModal"
                data-modal-toggle="reviewModal"
              >
                <svg
                  class="w-5 h-5 -ms-2 me-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill-rule="evenodd"
                    d="M15.03 9.684h3.965c.322 0 .64.08.925.232.286.153.532.374.717.645a2.109 2.109 0 0 1 .242 1.883l-2.36 7.201c-.288.814-.48 1.355-1.884 1.355-2.072 0-4.276-.677-6.157-1.256-.472-.145-.924-.284-1.348-.404h-.115V9.478a25.485 25.485 0 0 0 4.238-5.514 1.8 1.8 0 0 1 .901-.83 1.74 1.74 0 0 1 1.21-.048c.396.13.736.397.96.757.225.36.32.788.269 1.211l-1.562 4.63ZM4.177 10H7v8a2 2 0 1 1-4 0v-6.823C3 10.527 3.527 10 4.176 10Z"
                    clip-rule="evenodd"
                  />
                </svg>
                Review
              </a>
            </div>

            <hr class="my-6 md:my-8 border-gray-200 dark:border-gray-800" />

            <p class="mb-6 text-gray-500 dark:text-gray-400">
              {{ website.description }}
            </p>
          </div>
          <div
            id="reviewModal"
            tabindex="-1"
            aria-hidden="true"
            class="hidden fixed inset-0 z-50 justify-center items-center overflow-x-hidden overflow-y-auto transition-transform transform translate-y-10"
          >
            <div class="relative p-4 w-full max-w-2xl h-auto">
              <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
                <div
                  class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600"
                >
                  <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    {{ website.title }}
                  </h3>
                  <button
                    type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                    data-modal-toggle="reviewModal"
                  >
                    <svg
                      aria-hidden="true"
                      class="w-5 h-5"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                    <span class="sr-only">Close modal</span>
                  </button>
                </div>
                <form action="{% url 'add_review' pk=website.id %}" id="reviewForm" method="post">
                  {% csrf_token %}
                  <div class="grid gap-4 mb-4 sm:grid-cols-2">
                    <div>
                      <label
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                        >Design Rating (1-10)</label
                      >
                      <input
                        type="number"
                        name="design"
                        id="design"
                        value="{{ form.design.value|default:'' }}"
                        min="1"
                        max="10"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="Enter rating for design"
                      />
                      <div class="text-sm text-red-600 mt-2">{{ form.design.errors }}</div>
                    </div>
                    <div>
                      <label
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                        >Usability Rating (1-10)</label
                      >
                      <input
                        type="number"
                        name="usability"
                        id="usability"
                        value="{{ form.usability.value|default:'' }}"
                        min="1"
                        max="10"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="Enter rating for usability"
                      />
                      <div class="text-sm text-red-600 mt-2">{{ form.usability.errors }}</div>
                    </div>
                    <div>
                      <label
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                        >Content Rating (1-10)</label
                      >
                      <input
                        type="number"
                        name="content"
                        id="content"
                        value="{{ form.content.value|default:'' }}"
                        min="1"
                        max="10"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="Enter rating for content"
                      />
                      <div class="text-sm text-red-600 mt-2">{{ form.content.errors }}</div>
                    </div>
                    <div>
                      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Overall Rating</label>
                      <div class="flex space-x-2">
                          <input type="radio" id="star1" name="overall" value="1" class="hidden" checked />
                          <label for="star1" class="text-yellow-300 cursor-pointer text-2xl">★</label>
                          
                          <input type="radio" id="star2" name="overall" value="2" class="hidden" checked />
                          <label for="star2" class="text-yellow-300 cursor-pointer text-2xl">★</label>
                      
                          <input type="radio" id="star3" name="overall" value="3" class="hidden" checked />
                          <label for="star3" class="text-yellow-300 cursor-pointer text-2xl">★</label>
                      
                          <input type="radio" id="star4" name="overall" value="4" class="hidden" checked />
                          <label for="star4" class="text-yellow-300 cursor-pointer text-2xl">★</label>
                      
                          <input type="radio" id="star5" name="overall" value="5" class="hidden" checked />
                          <label for="star5" class="text-yellow-300 cursor-pointer text-2xl">★</label>
                      </div>
                      <div class="text-sm text-red-600 mt-2">{{ form.overall.errors }}</div>
                    </div>
                    <div class="sm:col-span-2">
                      <label
                        for="description"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                        >Description</label
                      >
                      <textarea
                          name="description"
                          id="description"
                          rows="4"
                          class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                          placeholder="Add comment ..."
                      >{{ form.description.value|default:'' }}</textarea>
                      <div class="text-sm text-red-600 mt-2">{{ form.description.errors }}</div>
                    </div>
                  </div>
                  <button
                    type="submit"
                    class="text-white inline-flex items-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                  >
                    <svg
                      class="mr-1 -ml-1 w-6 h-6"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                    Add review
                  </button>
                </form>
              </div>
            </div>
          </div>
        
        </div>
      </div>
    </section>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const favoriteButtons = document.querySelectorAll(".favorite-btn");

        favoriteButtons.forEach((button) => {
          const icon = button.querySelector(".icon");
          const isFavorite = button.dataset.favorite === "true";

          if (isFavorite) {
            icon.innerHTML = `
                    <path
                        d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"
                        fill="currentColor"
                    />
                `;
            button.querySelector(".text").textContent = "Unlike";
          } else {
            icon.innerHTML = `
                    <path
                        d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        fill="none"
                    />
                `;
            button.querySelector(".text").textContent = "Like";
          }

          button.addEventListener("click", function (event) {
            event.preventDefault();

            const websiteId = this.dataset.id;

            fetch("/dashboard/toggle-favorite/", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": getCookie("csrftoken"),
              },
              body: JSON.stringify({ website_id: websiteId }),
            })
              .then((response) => response.json())
              .then((data) => {
                if (data.success) {
                  button.dataset.favorite = data.is_favorite.toString();

                  if (data.is_favorite) {
                    icon.innerHTML = `
                                    <path
                                        d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"
                                        fill="currentColor"
                                    />
                                `;
                    button.querySelector(".text").textContent = "Unlike";
                  } else {
                    icon.innerHTML = `
                                    <path
                                        d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        fill="none"
                                    />
                                `;
                    button.querySelector(".text").textContent = "Like";
                  }
                } else {
                  alert(data.error || "Something went wrong!");
                }
              })
              .catch((error) => {
                console.error("Error:", error);
              });
          });
        });

        function getCookie(name) {
          let cookieValue = null;
          if (document.cookie && document.cookie !== "") {
            const cookies = document.cookie.split(";");
            for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              if (cookie.substring(0, name.length + 1) === name + "=") {
                cookieValue = decodeURIComponent(
                  cookie.substring(name.length + 1)
                );
                break;
              }
            }
          }
          return cookieValue;
        }
        
        const stars = document.querySelectorAll('input[type="radio"]');
        const labels = document.querySelectorAll('label[for^="star"]');

        stars.forEach(star => {
          star.addEventListener('change', function () {
            labels.forEach(label => {
              label.classList.remove('text-yellow-300');
              label.classList.add('text-gray-400');
            });

            for (let i = 0; i < star.value; i++) {
              labels[i].classList.add('text-yellow-300');
              labels[i].classList.remove('text-gray-400');
            }
          });
        });

        labels.forEach((label, index) => {
          label.addEventListener('click', function () {
            const correspondingInput = document.getElementById(label.getAttribute('for'));
            if (correspondingInput.checked) {
              correspondingInput.checked = false;
              labels.forEach(l => l.classList.remove('text-yellow-300'));
              labels.forEach((l, i) => {
                if (i < index) l.classList.add('text-yellow-300');
                else l.classList.add('text-gray-400');
              });
            } else {
              correspondingInput.checked = true;
              labels.forEach((l, i) => {
                if (i <= index) l.classList.add('text-yellow-300');
                else l.classList.add('text-gray-400');
              });
            }
          });
        });
      });
      document.querySelectorAll("[data-modal-toggle]").forEach((button) => {
          button.addEventListener("click", (e) => {
              const targetModal = document.getElementById(e.target.getAttribute("data-modal-toggle"));
              targetModal.classList.toggle("hidden");
          });
      });
    </script>
  </body>
</html>
{% endblock content %}
