#nprogress .bar {
  background: linear-gradient(90deg, #3490dc, #07f98c);
  height: 10px;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
  z-index: 1031;
}

#nprogress .bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

#nprogress .peg {
  box-shadow: 0 0 30px #3490dc, 0 0 20px #07f98c;
  opacity: 1;
}

#nprogress .spinner {
  display: none;
}